        
            label {
                border: 1px inset #032c5c;
                border-radius: 5px;
                background: blue;
                color: #f8f5f5;
                padding-left: 4px;
                padding-right: 4px;
                margin-right: 3px;
            }
        </style>